@import "tailwindcss";

@theme {
  --color-aura-primary: #FF4D00;
  --color-aura-secondary: #00E0FF;
  --color-aura-accent: #7000FF;
  --color-aura-dark: #0A0A0A;
  --color-aura-light: #F5F5F5;

  --font-sans: "Inter", "system-ui", sans-serif;
}

@layer base {
  body {
    @apply bg-aura-dark text-aura-light antialiased overflow-hidden select-none;
  }
}

@layer components {
  .btn-aura {
    @apply w-full h-full flex items-center justify-center text-4xl font-bold uppercase tracking-widest transition-all duration-300 active:scale-95;
  }
}