@import "tailwindcss";

@theme {
  --color-aura-primary: #137FEC;
  /* Electric Cyan: Active/Scanning state */
  --color-aura-warning: #FF4D00;
  /* Safety Orange: Critical warnings */
  --color-aura-social: #7000FF;
  /* Social Mirror accent */
  --color-aura-dark: #0A0A0A;
  /* Pitch Black Canvas */
  --color-aura-light: #FFFFFF;
  /* Pure High-Contrast White */

  --font-sans: "Inter", "system-ui", sans-serif;
}


@layer base {
  body {
    @apply bg-aura-dark text-aura-light antialiased overflow-hidden select-none;
  }
}

@layer components {
  .btn-aura {
    @apply w-full h-full flex items-center justify-center text-4xl font-bold uppercase tracking-widest transition-all duration-300 active:scale-95;
  }
}